html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}
.title{
	color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 400%;
            animation: move 5s ease infinite;
            background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
        
}
h1{
	color:#B71C1C;
}
h2{
	color:red;
}
h3{
color:#FFA726;
}
h4{
	color:#FFCC80;
}

main {
  text-align:center;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes move {
            0%,100%{
                background-position: 200% 0%;
            }

            50%{
                background-position: 0% 200%;
            }
}
